:root {
    /* color */
    --black: black;
    --black2: rgba(0, 0, 0, 0.10);
    --gray: #7B7B7B;
    --orange: #FF5300;
    --orange2: rgba(255, 83, 0, 0.50);
    --white: white;

    /* bg-color */
    --bg-white: white;
    --bg-orange: #FF5300;

    /* font-size */
    --s: 16px;
    --l: 20px;
}